SERVER_PORT=8080
SERVER_HOST=0.0.0.0

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=subs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pswd
# postgres_max_connections
POSTGRES_MAX_CONNS=1
# postgres_min_connections
POSTGRES_MIN_CONNS=10
